body{
  margin: 5%;
}


a {
	text-decoration: none;
}
a:hover {
	text-decoration:underline;
}

form {
	padding : 0;
	margin:0;
}

h1{
	font-size: 2em;
}
h2{
	font-size: large;
	padding-left: 1em;
	background-color: #ccccff;
}

pre{
	border: 1px solid gray;
	padding-left: 2em;
	color: #00FF00;
	background-color: #000000;
}

p,dl,ol,ul{
	padding-left: 0.5em;
}
