body{
  margin: 5%;
}

form {
	padding : 0;
	margin:0;
}

h1{
	font-size: 2em;
}

h2{
	font-size: large;
	padding-left: 1em;
	background-color: #cccccc;
}

pre{
	margin-left: 2em;
	color: #006400;
  background-color: #eeeeee;
  white-space: pre-wrap;
}

code{
  color: #006400;
  background-color: #eeeeee;
}

p,dl,ol,ul{
	padding-left: 0.5em;
}

img{
	max-width: 100vw;
}
